{% load static %}

<footer class="footer-box">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="footer_blog">
            <div class="full margin-bottom_30"><img src="{% static 'assets/images/footer_logo.png' %}" alt="website template image">
            </div>
            <div class="full white_fonts">
              <p>Bizning o'quv markazimizda eng yuqori salohiyatli hodimlar ish olib bormoqda. 
                Shu bilan birga bizning o'quv markaz chetel standartlariga mos keluvchi texnikalar bilan johozlargan. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="footer_blog footer_menu white_fonts">
            <h3>Bo'limlar</h3>
            <ul>
              <li><a href="#">> Bizga qo'shiling</a></li>
              <li><a href="#">> Grafik Dizayn</a></li>
              <li><a href="#">> Backend </a></li>
              <li><a href="#">> Frontend</a></li>
              <li><a href="#">> Yangiliklar</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="footer_blog full white_fonts">
            <h3>Bizga qo'shiling</h3>
            <p>Telefon raqamingizni yuboring va biz siz bilan bog'lanamiz</p>
            <div class="newsletter_form">
              <form>
                <input type="number" placeholder="+998" class="footerGetNumber" required>
                <button onclick="sendNumberFun()">Yuborish</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
          <div class="footer_blog full white_fonts">
            <h3>Bog'lanish</h3>
            <ul class="full">
              <li><img src="{% static 'assets/images/i5.png' %}" alt="website template image"><span>Baliqchi<br>
                  </span></li>
              <li><img src="{% static 'assets/images/i6.png' %}" alt="website template image"><span>webking@gmail.com</span></li>
              <li><img src="{% static 'assets/images/i7.png' %}" alt="website template image"><span>+998 98 953 83 58</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

