<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Web King</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plugins.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <style type="text/css">
    #freecssfooter {
      display: block;
      width: 100%;
      padding: 120px 0 20px;
      overflow: hidden;
      background-color: transparent;
      z-index: 5000;
      text-align: center;
    }

    #freecssfooter div#fcssholder div {
      display: none;
    }

    #freecssfooter div#fcssholder div:first-child {
      display: block;
    }

    #freecssfooter div#fcssholder div:first-child a {
      float: none;
      margin: 0 auto;
    }
  </style>
</head>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

  <script type="text/javascript">
    (function () {
      var bsa = document.createElement('script');
      bsa.type = 'text/javascript';
      bsa.async = true;
      bsa.src = '//s3.buysellads.com/ac/bsa.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(bsa);
    })();
  </script>
  <div id="preloader">
    <div class="loader"><img src="{% static 'assets/images/loader.gif' %}" alt="website template image"></div>
  </div>

  {% include 'header.html' %}

  {% block content %}

  {% include 'section.html' %}

  {% endblock %}

 {% include 'footer.html' %}

 {% include 'script.html' %}

</body>

</html>