{% load static %}

<div class="ulockd-home-slider">
    <div class="container-fluid">
      <div class="row">
        <div class="pogoSlider" id="js-main-slider">
          <div class="pogoSlider-slide" style="background-image:url({% static 'assets/images/banner_img.png' %})">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="slide_text">
                    <h3><span span class="theme_color">BU KURS AYNAN SIZ UCHUN AGAR SIZ</span><br>
                      WEB DASTURLASH</h3>
                    <h4>+ Bepul Ingliz Tili</h4>
                    <br>
                    <div class="full center"><a  class="contact_bt"
                      href="#regoster-form-scroll">Kursga yozilish</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pogoSlider-slide" style="background-image:url({% static 'assets/images/banner_img.png' %})">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="slide_text">
                    <h3><span span class="theme_color">BU KURS AYNAN SIZ UCHUN AGAR SIZ</span><br>
                      WEB DASTURLASH</h3>
                    <h4>+ Bepul Ingliz Tili</h4>
                    <br>
                    <div class="full center"><a class="contact_bt"
                        href="#regoster-form-scroll">Kursga yozilish</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section tabbar_menu">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="tab_menu">
            <ul>
              <li><a ><span class="icon"><img
                      src="{% static 'assets/images/i1.png' %}" alt="website template image"></span><span></span></a>
              </li>
              <li><a ><span class="icon"><img
                      src="{% static 'assets/images/i2.png' %}" alt="website template image"></span><span></span></a></li>
              <li><a ><span class="icon"><img
                      src="{% static 'assets/images/i3.png' %}" alt="website template image"></span><span></span></a></li>
              <li><a ><span class="icon"><img
                      src="{% static 'assets/images/i4.png' %}" alt="website template image"></span><span></span></a></li>
              <li><a href="https://www.google.com/maps/@40.8995087,71.8572631,1017m/data=!3m1!1e3" target="blank"><span class="icon"><img
                      src="{% static 'assets/images/i5.png' %}" alt="website template image"></span><span>Baliqchi</span></a></li>
              <li><a href="tel:+998944447279"><span class="icon"><img
                      src="{% static 'assets/images/i6.png' %}" alt="website template image"></span><span>Bog'lanish</span></a></li>
              <li><a ><span class="icon"><img
                      src="{% static 'assets/images/i7.png' %}" alt="website template image"></span><span>Email</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section  margin-top_50">
    <div class="container">
      <div class="row">
        <div class="col-md-6 layout_padding_2">
          <div class="full">
            <div class="heading_main text_align_left">
              <h2><span>O'quv markazimizga</span> hush kelibsiz</h2>
            </div>
            <div class="full">
              <p>Bizning o'quv markazimizda eng yuqori salohiyatli hodimlar ish olib bormoqda. 
                Shu bilan birga bizning o'quv markaz chetel standartlariga mos keluvchi texnikalar bilan johozlargan bo'lib
                sizning farzandingizni o'quv samaradorligini yanada oshirishga hizmat qiladi
              </p>
            </div>
            <div class="full">
            <a class="hvr-radial-out button-theme btn" data-bs-toggle="modal" href="#exampleModalToggle" role="button">
              Ko'proq ma'lumot
            </a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="full"><img src="{% static 'assets/images/img2.png' %}" alt="website template image"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">O'quv markazimizga hush kelibsiz</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bizning o'quv markazimizda eng yuqori salohiyatli hodimlar ish olib bormoqda. 
                Shu bilan birga bizning o'quv markaz chetel standartlariga mos keluvchi texnikalar bilan johozlargan bo'lib
                sizning farzandingizni o'quv samaradorligini yanada oshirishga hizmat qiladi
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">O'quv markazimizga hush kelibsiz</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Web haqida. Dasturlash muhitini sozlaymiz.
          Html Nima?
          Html syntax. html elementlar (inline and block level elements)
          Text formatting and styling (matn formatlash hamda stil berish)
          Table and list (jadval hamda list)
          Semantics, layout, id and class (semantika)
          File path and links, hypermedia (htmlda manzillar hamda link)
          Form, best practises (forma bilan ishlash, yaxshi amaliyot)
        </div>
      </div>
    </div>
  </div>
  

  <div class="section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center">
              <h2><span>Biznng</span>Kurslar</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'dezayn.png' %}"
              alt="website template image">
            <h4>Grafik Dezayn</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'backend.png' %}"
              alt="website template image">
            <h4>Backend Dasturlash</h4>
          </div>
        </div>
        <div class="col-md-4">
          <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'front.jpg' %}"
              alt="website template image">
            <h4>Frontend Dasturlash</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section margin-top_50 silver_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="full float-right_img"><img src="{% static 'assets/images/img6.png' %}" alt="website template image"></div>
        </div>
        <div class="col-md-6 layout_padding_2">
          <div class="full">
            <div class="heading_main text_align_left">
              <h2><span>kirish uchun ariza berish</span></h2>
            </div>
            <div class="full">
              <p>Bizning o'quv markazimizda o'qishni boshlash uchun o'zingizga qulay bo'lgan usulda ariza qoldiring misol uchun bizning o'quv markazga tashrif buyuring va o'quv kurslarga yoziling yoki online tarzda ariza qoldirishingiz mumkin</p>
            </div>
            <div class="full"><a class="hvr-radial-out button-theme"
                href="#regoster-form-scroll">Qo'shilish</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section layout_padding padding_bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="full">
            <div class="heading_main text_align_left">
              <h2><span>Kuslarimizda</span></h2>
            </div>
            <div class="full">
              <p>Web haqida. Dasturlash muhitini sozlaymiz.
                Html Nima?
                Html syntax. html elementlar (inline and block level elements)
                Text formatting and styling (matn formatlash hamda stil berish)
                Table and list (jadval hamda list)
                Semantics, layout, id and class (semantika)
                File path and links, hypermedia (htmlda manzillar hamda link)
                Form, best practises (forma bilan ishlash, yaxshi amaliyot)
                </p>
            </div>
            <div class="full">
                <a class="hvr-radial-out button-theme btn" data-bs-toggle="modal" href="#exampleModalToggle2" role="button">
                  Ko'proq ma'lumot
                </a>
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="full"><img class="img-responsive" src="{% static 'assets/images/img7.png' %}" alt="website template image"></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section layout_padding padding_bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center">
              <h2><span>Yangiliklar</span></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'assets/images/img9.png' %}"
                        alt="website template image">
                      <h4>Texnalo'giyalar</h4>
                      <p>o'quv markaz chetel standartlariga mos keluvchi texnikalar bilan johozlargan bo'lib
                        sizning farzandingizni o'quv samaradorligini yanada oshirishga hizmat qiladi</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'assets/images/img8.png' %}"
                        alt="website template image">
                      <h4>Ta'lim</h4>
                      <p>Bizning o'quv markazimizda eng yuqori salohiyatli hodimlar ish olib bormoqda</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'assets/images/img9.png' %}"
                        alt="website template image">
                      <h4>Texnalo'giyalar</h4>
                      <p>o'quv markaz chetel standartlariga mos keluvchi texnikalar bilan johozlargan bo'lib
                        sizning farzandingizni o'quv samaradorligini yanada oshirishga hizmat qiladi</p>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="full blog_img_popular"><img class="img-responsive" src="{% static 'assets/images/img8.png' %}"
                        alt="website template image">
                      <h4>Ta'lim</h4>
                      <p>Bizning o'quv markazimizda eng yuqori salohiyatli hodimlar ish olib bormoqda</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="section layout_padding padding_bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="full">
            <div class="heading_main text_align_center" id="regoster-form-scroll">
              <h2><span>Kursga yozilish</span></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section contact_section" style="background:#12385b;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="full float-right_img" style="margin-top: 90px !important;"><img src="{% static 'contak.png' %}" alt="website template image"></div>
        </div>
        <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
          <div class="contact_form">
            <form action="{% url 'home' %}" method="POSTt">
              <fieldset>
                <div class="full field">
                  <input class="sendMessageName" type="text" placeholder="Ismingiz" name="Ismingiz" required>
                </div>
                <div class="full field">
                  <input class="sendMessageAge" type="number" placeholder="Yoshingiz" name="Yoshingiz" required>
                </div>
                <div class="full field">
                  <input class="sendMessageCouse" type="text" placeholder="Tanlagan Kurs Nomingiz" name="Cou" required>
                </div>
                <div class="full field">
                  <input class="sendMessagePhone" type="phn" placeholder="Telefon raqamingiz" name="Phone number" required>
                </div>
                <div class="full field">
                  <input class="sendMessageMotherFatherPhone" type="phn" placeholder="ota-onagizning telefon raqami" name="Phone number" required>
                </div>
                <div class="full field">
                  <input type="text" class="sendMessageLocation" placeholder="Yashash manzilingiz" required />
                </div>
                <div class="full field">
                  <div class="center">
                  </div>
                </div>
                
              </fieldset>
              <input type="submit" value="Yuborish" onclick="SendMessageFun()"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
  </script>


